*{
 margin: 0;
 padding: 0;
 font-family: 'poppins',sans-serif;
 box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(bb.jpg);
     background-size: cover;
     background-position: center;
     padding: 10px 8%;
}
nav{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 0;
}
.logo{

    width: 180px;
    cursor: pointer;
}

nav ul{
list-style: none;
width: 100%;
text-align:right;
padding-right: 60px;


}
nav ul li {

    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{

    color: #fff;
    text-decoration: none;

}
nav .bx{
    font-size: 25px;
}
nav h2{
    color: white;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 5px;
    font-size: 30px;
}










.btn{

    display: flex;
    align-items: center;
    padding: 5px 30px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    background: #f5168d;
    color: #f9fbf9;
    font-weight: 500;
    cursor: pointer;
    
}
.btn img{
width: 20px;
margin-right: 10px;
}
.content{

    margin-top: 14%;
    color:#fff;
    max-width: 620px;
}
.content h1{
font-size: 70px;
font-weight: 600;
line-height: 85px;
margin-bottom: 25px;

}
.btn:hover{
    box-shadow: 0 0 5px rgb(253, 156, 237),
    0 0 15px rgb(254, 154, 228), 0 0 30px rgb(239, 142, 197),
    0 0 50px rgb(251, 140, 223), 0 0 60px rgb(250, 145, 241);
}
.dev{
    font-size: 15px;
    color: white;
    margin-left: 1000px;
    margin-top: 100px;
    border-radius: 10px;
    border:  .1px solid;
    padding: 5px;
}
.btn1{
    display: flex;
    align-items: center;
    padding: 5px 30px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    background: #f5168d;
    color: #f9fbf9;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2%;
}
.btn1:hover{
    box-shadow: 0 0 5px rgb(253, 156, 237),
    0 0 15px rgb(254, 154, 228), 0 0 30px rgb(239, 142, 197),
    0 0 50px rgb(251, 140, 223), 0 0 60px rgb(250, 145, 241);
}
.cn{
    margin-top: 5%;
}

